 <div class="user-details">
  <h1> Summary </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Work</h2>
      <img alt="city-of-boston" src="{{ "/assets/img/bostonlogo.jpg" | prepend: site.baseurl }}" />
      <img alt="fiveby" src="{{ "/assets/img/fiveby.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="tech">
      <h2>Activities</h2>
      <img alt="covidwa" src="{{ "/assets/img/covidwa.jpg" | prepend: site.baseurl }}" />
      <img alt="esp" src="{{ "/assets/img/esp.jpg" | prepend: site.baseurl }}" />
      <img alt="gsl" src="{{ "/assets/img/gsl.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="tech">
      <h2>App Dev</h2>
      <img alt="incremental" src="{{ "/assets/img/incremental.jpg" | prepend: site.baseurl }}" />
      <img alt="standard-score" src="{{ "/assets/img/standard-score.jpg" | prepend: site.baseurl }}" />
      <img alt="calligraphist" src="{{ "/assets/img/calligraphist.jpg" | prepend: site.baseurl }}" />
    </div>
</div>
